body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 20px 0 40px 0;
    text-align: center;
    border-bottom: 3px solid #FFB000;
}

header h1 {
    color: #FFB000;
    margin: 0;
}

header img {
    max-height: 80px;
    width: auto;
    margin-left: 10px;
}

nav a {
    color: #FFFFFF;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFB000;
}

footer {
    background-color: #000000;
    color: #666;
    text-align: center;
    padding: 20px;
    border-top: 3px solid #FFB000;
}

/* Hráči a galerie */
.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.player-card {
    background-color: #1a1a1a;
    padding: 20px;
    border: 2px solid #FFB000;
    width: 320px;
    text-align: center;
}

.player-card img {
    width: 100%;
    border: 3px solid #FFB000;
    transition: transform 0.3s, border-color 0.3s;
    margin-top: 10px;
}

.player-card img:hover {
    transform: scale(1.05);
    border-color: #FFFFFF;
}

/* Sekce (Kapitán, Poručík...) */
h2.accordion {
    background-color: #FFB000;
    color: #000000;
    padding: 15px;
    text-align: left;
    font-size: 24px;
    max-width: 1200px;
    margin: 40px auto 0 auto;
}

/* Pravidla */
.rules {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    padding: 40px 20px;
}

.rules h1 {
    color: #FFB000;
    font-size: 48px;
    margin-bottom: 30px;
    text-align: center;
}

.rules p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

@media (max-width: 600px) {

    header img {
        max-height: 50px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    h1, h2 {
        font-size: 24px;
    }

    .player-card {
        width: 100%;
    }

    .rules h1 {
        font-size: 32px;
    }

    .rules p {
        font-size: 16px;
    }
}
